@import "tailwindcss";

@theme {
  --color-indigo-500: #6366f1;
}

@layer base {
  body {
    background-color: white;
    color: #171717;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
