# Strapi
license.txt
exports
dist
build
.strapi
.strapi-updater.json
.strapi-cloud.json
.data/
/types/
.env
.env.local
.env.production
/apps/backend/.env
/apps/backend/.env.local
/apps/backend/.env.production
/apps/frontend/.env
/apps/frontend/.env.local
/apps/frontend/.env.production

